<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/e8home/default/style/common.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/e8home/default/style/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/e8home/default/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/e8home/default/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/e8home/default/js/index.js"></script>
    <script type="text/javascript" src="__PUBLIC__/e8home/default/js/textScroll.js"></script>
    <script type="text/javascript" src="__PUBLIC__/e8home/default/js/js.js"></script>
<title>{$webInfo.sitename}</title>
<style type="text/css">
.floatingAd .ad{z-index:100;background:none;position:absolute;display:none;}
.floatingAd a{color:#000000; display:inline-block;text-decoration:none;}
.floatingAd a img{border:0;}
.floatingAd .close{display:none;}
.floatingAd .opacity{position:absolute; top:0; width:100%; height:25px; background-color:#000000; opacity:0.20; filter:alpha(opacity = 20);}
.opacity1{opacity:0.90; filter:alpha(opacity = 90);}
.floatingAd .text{position:absolute; top:0; width:100%; height:25px; color:#000000; line-height:25px; }
.floatingAd .text .button{position:relative;float:right;top:5px;right:5px;width:16px;height:16px;background:url("http://211.70.176.138/jyxxw/templets/xqimg/img/close.png") no-repeat;cursor:pointer;}
.floatingAd .text .title{position:relative;float:left;font-size:12px;margin-left:5px;}
</style>

<script type="text/javascript" src="__PUBLIC__/e8home/default/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/e8home/default/js/floatingAd.js"></script>
<script type="text/javascript">
$(function(){

	$.floatingAd({
		//频率
		delay: 30,
		//超链接后是否关闭漂浮
		isLinkClosed: true,
		//漂浮内容
		ad:[{
			//关闭区域背景透明度(0.1-1)
			headFilter: 0.3,
			//图片
			'img': '{$Think.config.UPLOAD_PATH}{$flowList.img}',
			//图片高度
			'imgHeight': 200,
			//图片宽度
			'imgWidth': 450,
			//图片链接
			'linkUrl': '{$flowList.URL}',
			//浮动层级别
			'z-index': 1000,
			//标题
			'title': '{$flowList.name}',
                        //关闭按键图片
            'closed-icon':'http://211.70.176.138/jyxxw/templets/xqimg/img/close.png'
		}]
		
	});
	
	$("#aa").floatingAd({
		onClose:function(elem){}
	});
	
});
</script>
</head>
<body>
<div class="body_bg"><img src="__PUBLIC__/e8home/default/images/bg.jpg" /></div>
<!--header-->
<include file="./Apps/Home/View/Common/header.html"/>
<!--content_left-->

        <div class="content_left">
          <div class="content_leftTop">
            <p class="newspic">
                   <img class="logo_1" src="__PUBLIC__/e8home/default/images/logo_1_03.gif" width="24" height="20" />&nbsp;&nbsp;新闻图片
            </p>
<!--图片新闻开始--> 

        <div id="shutter" class="shutter">
            <div class="slider">
                <ul class="slider-main">
                    <foreach name = "pictureList" item = "picture">
                    <li class="slider-panel">
                        <a href="__APP__/Show/picture/id/{$picture.id}"><img src="{$Think.config.UPLOAD_PATH}{$picture.img}"></a>
                    </li>
                    </foreach>
                </ul>
                <div class="slider-extra">
                    <ul class="slider-nav">
                        <!--轮播图的个数-->
                        <for start="1" end="$imgCount+1"><li class="slider-item">{$i}</li></for>
                    </ul>

                    <div class="slider-page">
                        <a class="slider-pre"><</a>
                        <a class="slider-next">></a>
                    </div>
                </div>
            </div>
        </div>
		<script type="text/javascript">
        //水平百叶窗图片切换
        var shutterH = new Hongru.shutter.init('shutterH',{
            id:'shutter'
        });
        </script> 
        </div>
         <div class="content_leftBottom">
            <p class="newspic">
                   <img class="logo_1" src="__PUBLIC__/e8home/default/images/logo_1_03.gif" width="24" height="20" />&nbsp;&nbsp;交流园地

            </p>
                <p class="works"><a href=""><img class="works" src="__PUBLIC__/e8home/default/images/work_01.jpg" height="80px" width="100%"></a></p>
                <p class="contact"><a href=""><img class="contact" src="__PUBLIC__/e8home/default/images/contact_01.jpg" height="80px" width="100%"></a></p>
                <p class="message"><a href="{:U('Show/leave_word')}"><img class="message" src="__PUBLIC__/e8home/default/images/message_01.jpg" height="80px" width="100%"></a></p>
         </div>
      </div>
        
        
<!--content_center-->
<div class="content_center">
   <div class="newAnnoncontent">

   <div class="content_centerTop">
               <span class="newspic">
                   <img class="logo_1" src="__PUBLIC__/e8home/default/images/logo_1_03.gif" width="24" height="20" />&nbsp;&nbsp;公告栏
                   <span class="more"><a href="#">more>></a></span>
               </span>
    <div id="breakNews">
    <ul id="breakNewsList" class="list6">
        <!--首页公告-->
        <foreach name = "noticeList" item = "notice">
             <li><a href="__APP__/Show/content/id/{$notice.id}">{$notice.title}<span class="date">{$notice.addtime|date="Y/m/d",###}</span></a></li>
        </foreach>

    </ul>
    </div>
</div>
<script language="javascript" type="text/javascript">
var scroll2 = new ScrollText("breakNewsList","pre2","next2",true,70,true);
scroll2.LineHeight = 24;
</script>
            <div class="content_centerBottom">
               <span class="newspic">
                   <img class="logo_1" src="__PUBLIC__/e8home/default/images/logo_1_03.gif" width="24" height="20" />&nbsp;&nbsp;公寓风采
                    <span class="more"><a href="#">more>></a></span>
               </span>
               <ul>
                   <foreach name = "domitoryList" item = "domitory">
                       <li><a href=""><img src={$Think.config.UPLOAD_PATH}{$domitory.image} width="100%" height="90" /></a></li>
                   </foreach>
               </ul>
            </div>
        </div>
        </div>
        <!--content_right-->
        <div class="content_right">
            <div class="content_rightTop">
                <video width="100%" height="100%" controls="controls" style="text-align:center">
                <source src="{$configList.value}" type="video/mp4" />
                您的浏览器版本过低暂不支持播放视频
                </video>
            </div>
            <div class="content_rightBottom">
               <div id="tab">
                  <div class="tabList">
                    <ul>
                        <li class="cur">最新</li>
                        <li>通知</li>
                        <li>新闻</li>
                    </ul>
                  </div>
                  <div class="tabCon">
                    <div class="cur">
                        <foreach name = "contentList" item = "content">
                            <p><a href="__APP__/Show/content/id/{content.id}">{$content.title}</a></p>
                        </foreach>
                    </div>
                    <div class="cur">
                        <foreach name = "tzList" item = "tz">
                            <p><a href="__APP__/Show/content/id/{tz.id}">{$tz.title}</a></p>
                        </foreach>
                    </div>
                    <div class="cur">
                        <foreach name = "newList" item = "new">
                            <p><a href="__APP__/Show/content/id/{new.id}">{$new.title}</a></p>
                        </foreach>
                    </div>
                  </div>
           </div>
        </div>
</div>
</div>
<!--footer-->
<!--<include file="./Apps/Home/View/Common/footer.html"/>-->
<div class="footer">
    <p>主办：淮南师范文化创意与传播学院党员工作站</p>
    <p>技术支持：<a href="http://www.e8net.cn" target="_blank">淮南师范学院E8网络工作室</a></p>
    <p></p>
</div>
<!--footer 结束-->
</body>
</html>
