<div class="contentleft">
    <div class="contentleftTop">
               <span class="newspic">
                   <img class="logo_1" src="__PUBLIC__/e8home/default/images/logo_1_03.gif" width="24" height="20" />&nbsp;&nbsp;流动党员之家
               </span>
        <!--左边导航-->
        <foreach name="contentList" item="content">
            <p class="ctac"><a href="__APP__/List/content/class/{$content.id}">{$content.classname}</a></p>
        </foreach>
    </div>
    <div class="contentleftBottom">
        <p class="newspic">
            <img class="logo_1" src="__PUBLIC__/e8home/default/images/logo_1_03.gif" width="24" height="20" />&nbsp;&nbsp;交流园地
        </p>
        <p class="works"><a href=""><img class="works" src="__PUBLIC__/e8home/default/images/work_01.jpg" height="80px" width="100%"></a></p>
        <p class="contact"><a href=""><img class="contact" src="__PUBLIC__/e8home/default/images/contact_01.jpg" height="80px" width="100%"></a></p>
        <p class="message"><a href=""><img class="message" src="__PUBLIC__/e8home/default/images/message_01.jpg" height="80px" width="100%"></a></p>
    </div>
</div>