<!DOCTYPE html>
<html lang="zh-CN">
  <head>
  	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>e8通用后台</title>
    
     <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="__PUBLIC__/e8admin/default/lib/bootstrap/bootstrap.min.css">
	  <link rel="stylesheet" href="__PUBLIC__/e8admin/default/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/e8admin/default/lib/jquery-confirm/jquery.confirm.css">

    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- e8 style -->
    <link rel="stylesheet" href="__PUBLIC__/e8admin/default/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/e8admin/default/css/main.css">
    
    
  </head>
  
  <body>
  
  	<div class="topbar">
    	
        <!-- 面包屑 -->
        <include file="./Apps/Admin/View/Include/mbx.html" />

        <div class="topbar-search">
        	<form class="form-inline" role="form">
            	<div class="form-group">
            		<label class="sr-only" for="exampleInputEmail2">Email address</label>
            		<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                    
                    <i class="fa fa-search color-gray"></i>
          		</div>
            </form>
        </div>
    </div><!-- /.topbar -->
    
    <div class="page-content">
    
        <div class="page-header col-sm-12">
        	<h1>班级添加</h1>
        </div>
        
        <div class="col-sm-12">
			<div class="tabbable">
				<ul class="nav nav-tabs">
					      <li><a href="__APP__/Partymember">党员信息管理</a></li>
                <li><a href="__APP__/Partymember/add">添加党员信息 </a></li>
                <li><a href="__APP__/Partymember/term">班级管理</a></li>
                <li class="active"><a href="#">添加班级</a></li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane in active">
              <p class="title background-blue">班级详情</p>
                <form action = "__APP__/Partymember/termadd" method = "post"> 
                  <table class="table-form" >
                    <tr>
                      <th class = "table-name" width="100" >班级名称:</th>
                      <td>
                        <input class="form-control input-sm wid-3" type="text" placeholder="输入班级名称" name="classname">  
                      </td>                                
                    </tr>
                  </table>
                  <div style="width:100%;height:60px;"></div>
                  <div class="admin-add">
                    <button type="submit" class="btn btn-primary btn-sm">添加</button>
                  </div>  
                </form>          
          </div>
				</div>
			</div>
		</div><!-- /span -->
        
    </div><!-- /.page-content -->
  
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	  <script src="__PUBLIC__/e8admin/default/lib/bootstrap/bootstrap.min.js"></script>
    <!--  -->
	  <script src="__PUBLIC__/e8admin/default/js/e8.js"></script>
    
  </body>
</html>
