<!DOCTYPE html>
<html lang="zh-CN">
  <head>
  	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>e8通用后台</title>
    
   
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="__PUBLIC__/e8admin/default/lib/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/e8admin/default/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/e8admin/default/lib/jquery-confirm/jquery.confirm.css">

    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- e8 style -->
    <link rel="stylesheet" href="__PUBLIC__/e8admin/default/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/e8admin/default/css/main.css">
    
  </head>
  
  <body>
  
  	<div class="topbar">
    	
        <!-- 面包屑 -->
        <include file="./Apps/Admin/View/Include/mbx.html" />
        
        <div class="topbar-search">
        	<form class="form-inline" role="form">
            	<div class="form-group">
            		<label class="sr-only" for="exampleInputEmail2">Email address</label>
            		<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                    
                    <i class="fa fa-search color-gray"></i>
          		</div>
            </form>
        </div>
    </div><!-- /.topbar -->
    
    <div class="page-content">
    
        <div class="page-header col-sm-12">
        	<h1>班级管理</h1>
        </div>
        
        <div class="col-sm-12">
			<div class="tabbable">
				<ul class="nav nav-tabs">
			          <li><a href="__APP__/Partymember">党员信息管理</a></li>
                <li><a href="__APP__/Partymember/add">添加党员信息 </a></li>
                <li class="active"><a href="#">班级管理</a></li>
                <li><a href="__APP__/Partymember/termadd">添加班级</a></li>
				</ul>

				<div class="tab-content">

                    <div id="classify" class="tab-pane in active">						
                        <form action="__APP__/Link/termEdit" method="post" >
                        	<table class="table table-hover">
                            	<tr class="title background-blue">
                                	<th width="10%">ID</th>
                                  <th width="30%">班级ID</th>
                                    <th width="30%">班级名称</th>
	                            	<th width="30%" class="operate align-center">操作</th>                            	
                            	</tr>
                            	<foreach name = "classnameList" item ="classname">
	                                <tr>
                                      <td>#{$key+1}</td>
  	                                	<td>{$classname.id}</td>
  	                                  <td>{$classname.classname}</td>
	                                	<td class="align-center"><a href="__APP__/Partymember/termedit/id/{$classname.id}/mw/{$classname.mw}">修改</a> |&nbsp;
                                        <a href="javascript:void(0);" onclick="return confirm('__APP__/Partymember/termdel/id/{$classname.id}','确定删除?');">删除</a>
	                            	</tr>
	                            </foreach>	
                            </table>
                        </form>
					</div>
   	                <div class="pageBar">{$page}</div>
				</div>
			</div>
		</div><!-- /span -->
        
    </div><!-- /.page-content -->
    
  	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="__PUBLIC__/e8admin/default/lib/bootstrap/bootstrap.min.js"></script> 
    <script src="__PUBLIC__/e8admin/default/lib/jquery-confirm/jquery.confirm.js"></script>
    <!--  -->
	<script src="__PUBLIC__/e8admin/default/js/e8.js"></script>
    
  </body>
</html>
