<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>E8CMS管理系统</title>
<link type="text/css" href="__PUBLIC__/e8admin/default/css/login.css" rel="stylesheet" />
<link type="text/css" href="__PUBLIC__/e8admin/default/css/login-com.css" rel="stylesheet" />
</head>

<body>

	<div class="login">
    	<div class="l-info">
        	<img src="__PUBLIC__/e8admin/default/img/login-sign.png" />
            <p>
            	欢迎使用E8网络后台管理系统！本系统由<a href="{$syscon['E8_WEB_URL']}"> E8网络工作室 </a>研发，E8工作室专注于网站建设、移动平台应用开发、企业级桌面系统开发等！
            </p>
        </div>
        
        <form action="__APP__/Findpassword/find" method="post">
        <input type="hidden" value="{$username}" name="username"/>
        <div class="l-form">
        	<p>
            	<label>新&nbsp;密&nbsp;码：</label>
                <input type="password" name="password" />
            </p>
            <p>
            	<label>确认密码：</label>
                <input type="password" name="rpassword" />
            </p>
            <p>
            	<input type="submit" value="提交" />
            </p>
        </div>
        </form>
        <div class="clearL h1"></div>
    </div>
    
    <div class="footer">
    	<p>E8网络，爱梦想，爱超越！</p>
        <p>QQ：1685474174&emsp;E-mail: 1685474174@qq.com</p>
        <p>地址：淮南师范学院(泉山校区)大学生孵化基地B306&emsp;淮南师范学院(泉山校区)逸夫图书馆六楼</p>
    </div>

</body>
</html>
